body {
    font-family: 'Helvetica', sans-serif; /* Font family */
    background-color: var(--bg-100); /* Floral White */
    color: var(--text-200); /* Dark Gray */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

header {
    background-color: var(--primary-200); /* Smoky Drab */
    color: var(--accent-100); /* Floral White */
}

footer {
    background-color: var(--primary-100); /* Olive Drab */
    color: var(--accent-100); /* Floral White */
}

/* Buttons */
.btn {
    background-color: var(--primary-100); /* Olive Drab */
    color: var(--accent-100); /* Floral White */
    border: none; /* Remove border */
    padding: 10px 20px; /* Button padding */
    border-radius: 5px; /* Button border radius */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition effect */
}

.btn:hover {
    background-color: var(--primary-300); /* Bone */
    color: var(--text-200); /* Lighter dark variant on hover */
}

/* Form Styles for Registration */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between form fields */
    padding: 20px; /* Padding inside form */
    background-color: var(--bg-200); /* Bone */
    border-radius: 25px; /* Rounded corners */
    transition: 0.4s ease-in-out; /* Transition effect */
}

.form:hover {
    transform: scale(1.05); /* Scale effect on hover */
    border: 1px solid var(--accent-200); /* Border effect on hover */
}

.field {
    border-radius: 25px; /* Rounded corners for input fields */
    padding: 0.6em; /* Padding inside fields */
    border: none; /* Remove default border */
    outline: none; /* Remove outline */
    color: var(--text-100); /* Palo Santo */
    background-color: var(--bg-200); /* Bone */
    box-shadow: inset 2px 5px 10px rgba(5, 5, 5, 0.5); /* Inner shadow for depth */
}

.input-field {
    background: none; /* No background */
    border: none; /* No border */
    outline: none; /* No outline */
    width: 100%; /* Full width */
    color: var(--text-100); /* Palo Santo */
}

/* Centering links */
a {
    color: var(--primary-200); /* Smoky Drab */
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: var(--primary-300); /* Bone */
}

h1, h2, h3 {
    color: var(--text-200); /* Dark Gray */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .service-card {
        margin: 10px 0; /* Reduce margin for smaller screens */
    }
    
    header, footer {
        text-align: center; /* Center header and footer text */
    }
}
