:root {
    --primary-100: #565449; /* Olive Drab */
    --primary-200: #11120D; /* Smoky Drab */
    --primary-300: #D8CFBC; /* Bone */
    --accent-100: #FFFBF4; /* Floral White */
    --accent-200: #0E1617; /* Leather */
    --text-100: #7C7C77; /* Palo Santo */
    --text-200: #4B4B4B; /* Dark Gray */
    --bg-100: #FFFBF4; /* Floral White */
    --bg-200: #D8CFBC; /* Bone */
    --bg-300: #7C7C77; /* Palo Santo */
}

.background-container {
    width: 100vw; /* Full viewport width */
    height: relative; /* Full viewport height */
    position: relative; /* Position absolutely to cover the parent */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: -1; /* Keep it behind other content */
 
    background: linear-gradient(
        -45deg,
        var(--primary-100),
        var(--primary-200),
        var(--primary-300),
        var(--bg-200),
        var(--accent-200),
        var(--bg-100)
    );
    background-size: 400% 400%; /* Allows for animation effects */
    animation: gradient 30s ease infinite; /* Animation for the gradient */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 50%;
    }
}