.header-container {
    height: 146px;
    width: 100%; /* Ensure it uses full width */
}

.header {
    background-color: transparent; /* Header background */
    height: 146px;
    position: absolute;
    top: 0;
    width: 100%; /* Full width */
    z-index: 100; /* Make sure it's above surrounding content */
}

.background-blur {
    background-color: rgba(255, 255, 254, 0.5); /* Base color for blur effect */
    filter: blur(8px); /* Apply a blur effect */
    height: 133px; /* Set height */
    left: 0; /* Positioning */
    opacity: .80; /* Set opacity for transparency */
    position: absolute; /* Absolute positioning to sit under header */
    top: 0; /* Position at the top */
    width: 100%; /* Full width of the header */
    z-index: -1; /* Keep it behind other header elements */
}

.navigation-links {
    display: flex; /* Use flexbox layout for header links */
    justify-content: space-between; /* Space between left and right */
    align-items: center; /* Center vertically */
    height: 100%; /* Use full header height */
    margin-right: 180px;
}

.homepage-link {
    margin-left: 180px; /* Space from left edge */
    text-align: left; /* Align text to the left */
}

.other-links {
    display: flex; /* Flex layout for other links */
    gap: 20px; /* Space between the links */
}

.nav-item {
    display: flex; /* Use flexbox to manage alignment */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align all to the left */
}

.nav-item-number {
    color: var( --primary-200); /* Floral White */
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
}

.nav-item-name {
    color: var( --primary-200); /* Floral White */
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
}

.nav-description {
    color: var( --primary-200); /* Floral White */
    font-family: "Helvetica Neue-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px; /* Closer spacing above the description */
}