:root {
  --primary-100: #565449; /* Olive Drab */
  --primary-200: #11120D; /* Smoky Drab */
  --primary-300: #D8CFBC; /* Bone */
  --accent-100: #FFFBF4; /* Floral White */
  --accent-200: #0E1617; /* Leather */
  --text-100: #7C7C77; /* Palo Santo */
  --text-200: #4B4B4B; /* Dark Gray */
  --bg-100: #FFFBF4; /* Floral White */
  --bg-200: #D8CFBC; /* Bone */
  --bg-300: #7C7C77; /* Palo Santo */
}

.welcome-section {
  text-align: center; /* Center text */
  margin: 100px 0; /* Margin for vertical spacing */
}

/* Headings Styling for the Welcome Title */
.welcome-title {
  font-family: 'Helvetica', sans-serif; /* Use Helvetica font */
  font-weight: bold;
  font-size: 45px; /* Font size for the main title */
  text-transform: uppercase; /* Uppercase text */
  color: var(--primary-200); /* Smoky Drab */
  margin-top: 60px; /* Space from the top */
}

/* The current service's style */
.current-service {
  font-family: 'Monigue', sans-serif; /* Use custom font */
  font-weight: bold;
  font-size: 250px; /* Large font size for current service */
  color: var(--primary-100); /* Olive Drab */
  margin: 20px 0; /* Spacing above and below */
  padding: 20px;
  cursor: pointer; /* Change cursor on hover */
  letter-spacing: 5px; /* Space between characters */
  line-height: 1; /* Reduce line height */
  text-shadow: 0px 130px 20px -5px rgba(0, 0, 0, 0.5); /* Text shadow for depth */
}

/* Call-to-Action Section Styles */
.cta-section {
  text-align: center; /* Center text */
  margin: 50px 0; /* Margin for CTA section */
}

/* CTA Title Styling */
.cta-title {
  font-family: 'Helvetica', sans-serif; /* Use Helvetica font */
  font-weight: bold; /* Bold font for the title */
  font-size: 24px; /* Font size for the CTA title */
  text-transform: uppercase; /* Uppercase text */
  color: var(--primary-200); /* Smoky Drab */
}

/* Flexbox for button container */
.d-flex {
  display: flex;
  justify-content: center; /* Center align buttons */
  gap: 10px; /* Space between buttons */
}