.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-bar-container .input {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border: none; /* Remove border */
  border-radius: 50px; /* Rounded edges */
  margin: 7px auto;
  padding: 18px 15px;
  outline: none; /* Remove outline on focus */
  text-align: center;
  width: 200px; /* Default width */
  transition: width 0.5s, background-color 0.25s; /* Smooth transitions */
}

/* Hover effect */
.search-bar-container .input:hover {
  width: 240px; /* Expand on hover */
}

/* Focus effect */
.search-bar-container .input:focus {
  width: 280px; /* Expand further when focused */
  border-color: rgba(7, 4, 14, 0); /* Adjust the border color if needed */
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.5); /* Darker shadow on focus */
}
